In [40]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [41]:
new_alloc = pd.read_excel('DPD Normal Cases LOT 3 Mar 2024.xlsx')
test = pd.read_excel('test_data_1690289233.xlsx')

In [42]:
new_alloc.head()

,Name,Mobile,Amount Pending,Minimum Amount Pending,Due Date,Loan Number,Last Repayment Date,Dis Date,Maturity Date,State,Loan Number.1,Loan Amount,Principal Overdue,Interest Overdue,FPR1,NPA,Additional No,Gender,Principle Outstanding,Current Outstanding,Aging Buckets,Status,Product,State.1,LOT,Remarks
0,SHANMUKHI AGENCIES_Vanathadupula Ramesh,9849403050,61167.0,61167.0,2024-03-01,TLFA000132313,NaN,2024-01-31,NaN,Telangana,TLFA000132313,1500000,27527.39,33639.61,NaN,NaN,NaN,NaN,1500000.00,2202000.00,0-30 Days,PENDING,Normal,KARIM NAGAR,LOT3,NaN
1,SRI SYAMADURGA ENTERPRISES_JALLEPALLI BANGARRAJU,7702037488,59667.0,59667.0,2024-03-01,TLFA000120676,NaN,2023-11-20,NaN,Andhra Pradesh,TLFA000120676,1500000,29570.64,30096.36,NaN,NaN,NaN,NaN,1442659.24,2028666.00,0-30 Days,PENDING,Normal,Ponduru,LOT3,NaN
2,VALUE ADDED SERVICES_VUTUKURI R SIDDHARTH,8686660515,102772.0,102772.0,2023-11-01,TLV2000093689,NaN,2023-05-15,NaN,Andhra Pradesh,TLV2000093689,2000000,77862.02,24909.98,NaN,NaN,NaN,NaN,1423427.63,1665457.35,0-30 Days,PENDING,Normal,Chirala,LOT3,NaN
3,WHITE WATER ENTERPRISES_S KIRTI KUMAR,9885051039,65000.0,65000.0,2024-03-01,TLFA000114262,NaN,2023-09-30,NaN,Telangana,TLFA000114262,1500000,41046.14,23953.86,NaN,NaN,NaN,NaN,1342883.83,1690272.62,0-30 Days,PENDING,Normal,HYDERABAD,LOT3,NaN
4,VISHNU PETROLEUMS_Gurram Ashok,9916790056,60420.0,60420.0,2024-03-01,VCFL000102185,NaN,2023-07-07,NaN,Andhra Pradesh,VCFL000102185,1500000,31777.30,28642.70,NaN,NaN,NaN,NaN,1322988.59,1812597.35,0-30 Days,PENDING,Normal,Ananthapur,LOT3,NaN

In [43]:
new_alloc['Product'].value_counts()
#new_alloc.loc[new_alloc['Product']!='BNPL', 'Product'] = 'AL'

Product
Normal    175
Name: count, dtype: int64

In [44]:
len(new_alloc)

175

In [50]:
new_alloc['Remarks'].value_counts()

Series([], Name: count, dtype: int64)

In [53]:
new_alloc.head()

,Name,Mobile,Amount Pending,Minimum Amount Pending,Due Date,Loan Number,Last Repayment Date,Dis Date,Maturity Date,State,Loan Number.1,Loan Amount,Principal Overdue,Interest Overdue,FPR1,NPA,Additional No,Gender,Principle Outstanding,Current Outstanding,Aging Buckets,Status,Product,State.1,LOT,Remarks
0,SHANMUKHI AGENCIES_Vanathadupula Ramesh,9849403050,61167.0,61167.0,2024-03-01,TLFA000132313,NaN,2024-01-31,NaN,Telangana,TLFA000132313,1500000,27527.39,33639.61,NaN,NaN,NaN,NaN,1500000.00,2202000.00,0-30 Days,PENDING,Normal,KARIM NAGAR,LOT3,NaN
1,SRI SYAMADURGA ENTERPRISES_JALLEPALLI BANGARRAJU,7702037488,59667.0,59667.0,2024-03-01,TLFA000120676,NaN,2023-11-20,NaN,Andhra Pradesh,TLFA000120676,1500000,29570.64,30096.36,NaN,NaN,NaN,NaN,1442659.24,2028666.00,0-30 Days,PENDING,Normal,Ponduru,LOT3,NaN
2,VALUE ADDED SERVICES_VUTUKURI R SIDDHARTH,8686660515,102772.0,102772.0,2023-11-01,TLV2000093689,NaN,2023-05-15,NaN,Andhra Pradesh,TLV2000093689,2000000,77862.02,24909.98,NaN,NaN,NaN,NaN,1423427.63,1665457.35,0-30 Days,PENDING,Normal,Chirala,LOT3,NaN
3,WHITE WATER ENTERPRISES_S KIRTI KUMAR,9885051039,65000.0,65000.0,2024-03-01,TLFA000114262,NaN,2023-09-30,NaN,Telangana,TLFA000114262,1500000,41046.14,23953.86,NaN,NaN,NaN,NaN,1342883.83,1690272.62,0-30 Days,PENDING,Normal,HYDERABAD,LOT3,NaN
4,VISHNU PETROLEUMS_Gurram Ashok,9916790056,60420.0,60420.0,2024-03-01,VCFL000102185,NaN,2023-07-07,NaN,Andhra Pradesh,VCFL000102185,1500000,31777.30,28642.70,NaN,NaN,NaN,NaN,1322988.59,1812597.35,0-30 Days,PENDING,Normal,Ananthapur,LOT3,NaN

In [54]:
new_alloc.columns

Index(['Name ', 'Mobile', 'Amount Pending', 'Minimum Amount Pending',
       'Due Date', 'Loan Number', 'Last Repayment Date', 'Dis Date ',
       'Maturity Date', 'State', 'Loan Number.1', 'Loan Amount',
       'Principal Overdue', 'Interest Overdue', 'FPR1', 'NPA', 'Additional No',
       'Gender', 'Principle Outstanding', 'Current Outstanding',
       'Aging Buckets', 'Status ', 'Product', 'State.1', 'LOT', 'Remarks'],
      dtype='object')

In [55]:
new_alloc['Remarks'].value_counts()

Series([], Name: count, dtype: int64)

In [35]:
new_alloc = new_alloc.rename(columns={'LoanAccountNo.':'Loan Number','LoanExternalId':'Loan External ID','Name ':'Name','PhoneNo':'Mobile',
                                      'Alternate No':'Additional No','Email':'email','Bus Add':'Address','Disbursement Date':'Disburse Date',
                                      'Expected Matured On':'Maturity Date','Actual EMI Amount':'EMI','Penalties Outstanding':'Principle Outstanding',
                                      'Current Outs':'Current Outstanding'  ,'Status ':'Status', 'Aging Bucket':'Aging Buckets',
                                      'Dis Date ':'Disburse Date'})

In [15]:
# in case of PO and PM
new_alloc.loc[new_alloc['Remarks']=='Emi cleared charges outstnading','Product'] = 'PO'
new_alloc.loc[new_alloc['Remarks']!='Emi cleared charges outstnading','Product'] = 'PM'

In [56]:
new_alloc['Status'].value_counts()

KeyError: 'Status'

In [57]:
new_alloc['Product'].value_counts()

Product
Normal    175
Name: count, dtype: int64

In [58]:
new_alloc['Amount Pending'].sum()/len(new_alloc)

39460.627199999995

In [59]:
new_alloc.columns

Index(['Name ', 'Mobile', 'Amount Pending', 'Minimum Amount Pending',
       'Due Date', 'Loan Number', 'Last Repayment Date', 'Dis Date ',
       'Maturity Date', 'State', 'Loan Number.1', 'Loan Amount',
       'Principal Overdue', 'Interest Overdue', 'FPR1', 'NPA', 'Additional No',
       'Gender', 'Principle Outstanding', 'Current Outstanding',
       'Aging Buckets', 'Status ', 'Product', 'State.1', 'LOT', 'Remarks'],
      dtype='object')

In [52]:
new_alloc[['Loan Number', 'Loan External ID', 'Name', 'Mobile', 'Additional No',
       'Address', 'City', 'State', 'Loan Amount', 'Disburse Date',
       'Maturity Date', 'EMI', 'Principle Outstanding', 'Product',
       'Allocation ID', 'Upload Date', 'Allocation Name', 'Amount Pending',
       'Original Amount Pending', 'Due Date', 'Status', 'Allocation amount',
       'Allocation Start Date', 'Minimum Amount Pending', 'Allocation End Date']].to_csv('flexi pm and po new cases.csv', index=False)

In [60]:
new_alloc.head()

,Name,Mobile,Amount Pending,Minimum Amount Pending,Due Date,Loan Number,Last Repayment Date,Dis Date,Maturity Date,State,Loan Number.1,Loan Amount,Principal Overdue,Interest Overdue,FPR1,NPA,Additional No,Gender,Principle Outstanding,Current Outstanding,Aging Buckets,Status,Product,State.1,LOT,Remarks
0,SHANMUKHI AGENCIES_Vanathadupula Ramesh,9849403050,61167.0,61167.0,2024-03-01,TLFA000132313,NaN,2024-01-31,NaN,Telangana,TLFA000132313,1500000,27527.39,33639.61,NaN,NaN,NaN,NaN,1500000.00,2202000.00,0-30 Days,PENDING,Normal,KARIM NAGAR,LOT3,NaN
1,SRI SYAMADURGA ENTERPRISES_JALLEPALLI BANGARRAJU,7702037488,59667.0,59667.0,2024-03-01,TLFA000120676,NaN,2023-11-20,NaN,Andhra Pradesh,TLFA000120676,1500000,29570.64,30096.36,NaN,NaN,NaN,NaN,1442659.24,2028666.00,0-30 Days,PENDING,Normal,Ponduru,LOT3,NaN
2,VALUE ADDED SERVICES_VUTUKURI R SIDDHARTH,8686660515,102772.0,102772.0,2023-11-01,TLV2000093689,NaN,2023-05-15,NaN,Andhra Pradesh,TLV2000093689,2000000,77862.02,24909.98,NaN,NaN,NaN,NaN,1423427.63,1665457.35,0-30 Days,PENDING,Normal,Chirala,LOT3,NaN
3,WHITE WATER ENTERPRISES_S KIRTI KUMAR,9885051039,65000.0,65000.0,2024-03-01,TLFA000114262,NaN,2023-09-30,NaN,Telangana,TLFA000114262,1500000,41046.14,23953.86,NaN,NaN,NaN,NaN,1342883.83,1690272.62,0-30 Days,PENDING,Normal,HYDERABAD,LOT3,NaN
4,VISHNU PETROLEUMS_Gurram Ashok,9916790056,60420.0,60420.0,2024-03-01,VCFL000102185,NaN,2023-07-07,NaN,Andhra Pradesh,VCFL000102185,1500000,31777.30,28642.70,NaN,NaN,NaN,NaN,1322988.59,1812597.35,0-30 Days,PENDING,Normal,Ananthapur,LOT3,NaN

In [27]:
new_alloc.groupby(['Allocation Name']).agg({'Loan Number':'count', 'Allocation amount':'sum', 'Due Date':'min', 'Due Date':'max'})

KeyError: 'Allocation Name'

In [61]:
new_alloc = new_alloc.rename(columns={'Dis Date ':'Disburse Date', 'Status ':'Status', 'Name ':'Name'})

In [62]:
new_alloc.loc[new_alloc['State']==0, 'State'] = 'NA'

In [64]:
new_alloc[['Name', 'Mobile', 'Amount Pending', 'Minimum Amount Pending',
       'Due Date', 'Loan Number', 'Disburse Date',
       'Maturity Date', 'State', 'Loan Amount', 'Principle Outstanding', 'Current Outstanding',
       'Principal Overdue', 'Interest Overdue', 'Aging Buckets',
       'Status', 'Product', 'Upload Date', 'Allocation ID', 'Original Amount Pending',
       'Allocation Name', 'Allocation Start Date', 'Allocation End Date']]#.to_csv('flexi bnpl 157 cases allocation.csv', index=False)

KeyError: "['Upload Date', 'Allocation ID', 'Original Amount Pending', 'Allocation Name', 'Allocation Start Date', 'Allocation End Date'] not in index"

In [65]:
new_alloc.loc[new_alloc['Product']=='Normal', 'Product'] = 'NORMAL'
new_alloc['Product'].value_counts()

Product
NORMAL    175
Name: count, dtype: int64

In [67]:
new_alloc['State'].value_counts()

State
Andhra Pradesh    51
Telangana         40
Uttar Pradesh     15
Maharashtra       13
Delhi             10
Haryana            9
Rajasthan          6
West Bengal        6
Gujarat            5
Madhya Pradesh     5
Tamil Nadu         3
ANDHRA PRADESH     3
Uttarakhand        2
Bihar              2
Karnataka          2
GUJARAT            1
TELANGANA          1
Odisha             1
Name: count, dtype: int64

In [68]:
#new_alloc['Amount Pending'] = new_alloc['Actual EMI Amount']
#new_alloc['Due Date'] = new_alloc['Expected Matured On']

In [69]:
print(len(new_alloc))
new_alloc['Amount Pending'].sum()

175

6905609.76

In [70]:
new_alloc.head()

,Name,Mobile,Amount Pending,Minimum Amount Pending,Due Date,Loan Number,Last Repayment Date,Disburse Date,Maturity Date,State,Loan Number.1,Loan Amount,Principal Overdue,Interest Overdue,FPR1,NPA,Additional No,Gender,Principle Outstanding,Current Outstanding,Aging Buckets,Status,Product,State.1,LOT,Remarks
0,SHANMUKHI AGENCIES_Vanathadupula Ramesh,9849403050,61167.0,61167.0,2024-03-01,TLFA000132313,NaN,2024-01-31,NaN,Telangana,TLFA000132313,1500000,27527.39,33639.61,NaN,NaN,NaN,NaN,1500000.00,2202000.00,0-30 Days,PENDING,NORMAL,KARIM NAGAR,LOT3,NaN
1,SRI SYAMADURGA ENTERPRISES_JALLEPALLI BANGARRAJU,7702037488,59667.0,59667.0,2024-03-01,TLFA000120676,NaN,2023-11-20,NaN,Andhra Pradesh,TLFA000120676,1500000,29570.64,30096.36,NaN,NaN,NaN,NaN,1442659.24,2028666.00,0-30 Days,PENDING,NORMAL,Ponduru,LOT3,NaN
2,VALUE ADDED SERVICES_VUTUKURI R SIDDHARTH,8686660515,102772.0,102772.0,2023-11-01,TLV2000093689,NaN,2023-05-15,NaN,Andhra Pradesh,TLV2000093689,2000000,77862.02,24909.98,NaN,NaN,NaN,NaN,1423427.63,1665457.35,0-30 Days,PENDING,NORMAL,Chirala,LOT3,NaN
3,WHITE WATER ENTERPRISES_S KIRTI KUMAR,9885051039,65000.0,65000.0,2024-03-01,TLFA000114262,NaN,2023-09-30,NaN,Telangana,TLFA000114262,1500000,41046.14,23953.86,NaN,NaN,NaN,NaN,1342883.83,1690272.62,0-30 Days,PENDING,NORMAL,HYDERABAD,LOT3,NaN
4,VISHNU PETROLEUMS_Gurram Ashok,9916790056,60420.0,60420.0,2024-03-01,VCFL000102185,NaN,2023-07-07,NaN,Andhra Pradesh,VCFL000102185,1500000,31777.30,28642.70,NaN,NaN,NaN,NaN,1322988.59,1812597.35,0-30 Days,PENDING,NORMAL,Ananthapur,LOT3,NaN

In [71]:
new_alloc.loc[new_alloc['Amount Pending']==0]

Empty DataFrame
Columns: [Name, Mobile, Amount Pending, Minimum Amount Pending, Due Date, Loan Number, Last Repayment Date, Disburse Date, Maturity Date, State, Loan Number.1, Loan Amount, Principal Overdue, Interest Overdue, FPR1, NPA, Additional No, Gender, Principle Outstanding, Current Outstanding, Aging Buckets, Status, Product, State.1, LOT, Remarks]
Index: []

In [72]:
new_alloc['Product'].value_counts()

Product
NORMAL    175
Name: count, dtype: int64

In [76]:
new_alloc['Upload Date'] = '2024-03-15'
new_alloc['Allocation Start Date'] = new_alloc['Upload Date']
new_alloc['Allocation amount'] = new_alloc['Original Amount Pending']

new_alloc['Allocation ID'] = 'MARCH2024'
new_alloc['Allocation End Date'] = '2024-03-31'

In [77]:
new_alloc.loc[new_alloc['Product']=='PO', 'Allocation Name'] = 'FlexiLoans PO'
new_alloc.loc[new_alloc['Product']=='PM', 'Allocation Name'] = 'FlexiLoans PM'
new_alloc.loc[new_alloc['Product']=='BNPL', 'Allocation Name'] = 'FlexiLoans BNPL'
new_alloc.loc[new_alloc['Product']=='NORMAL', 'Allocation Name'] = 'FlexiLoans NORMAL'

In [78]:
new_alloc['Allocation Name'].value_counts()
new_alloc.groupby(['Allocation Name']).agg({'Allocation amount':'sum', 'Loan Number':'count'})

                   Allocation amount  Loan Number
Allocation Name
FlexiLoans NORMAL         6905609.76          175

In [75]:
new_alloc['Original Amount Pending'] = new_alloc['Amount Pending']
new_alloc['Minimum Amount Pending'] = new_alloc['Amount Pending']

In [82]:
new_alloc[['Name', 'Mobile', 'Amount Pending', 'Minimum Amount Pending',
       'Due Date', 'Loan Number',  'Loan Amount', 'State',
       'Principal Overdue', 'Interest Overdue', 'Current Outstanding',
       'Aging Buckets', 'Status', 'Product', 'Upload Date', 'Allocation ID', 'Original Amount Pending', 
       'Allocation amount', 'Allocation Start Date', 'Allocation Name', 'Allocation End Date']].to_csv('Flexiloans NORMAL 175 cases.csv', index=False)

In [47]:
new_alloc['Status'].value_counts()

Status
PENDING    1341
Name: count, dtype: int64

In [48]:
new_alloc[['Loan Number', 'Due Date', 'Allocation Start Date', 'City']].to_csv('flexi state update.csv', index=False)

In [84]:
new_alloc.loc[new_alloc['Status']=='COLLECTED', 'Collected Amount'] = new_alloc['Amount Pending']
new_alloc.loc[new_alloc['Status']=='COLLECTED', 'Paid Date'] = '2023-09-24'
new_alloc.loc[new_alloc['Status']=='COLLECTED', 'Amount Pending'] = 0

In [45]:
new_alloc[['Loan Number', 'Due Date', 'Collected Amount', 'Paid Date', 'Amount Pending', 'Status']].to_csv('payments update.csv', index=False)

KeyError: "['Collected Amount', 'Paid Date'] not in index"

In [38]:
new_alloc.head()#.to_csv('flexiloans AL SAAS.csv', index=False)

,Name,Mobile,Amount Pending,Minimum Amount Pending,Due Date,Loan Number,Last Repayment Date,Disburse Date,Maturity Date,State,Loan Number.1,Loan Amount,Principal Overdue,Interest Overdue,FPR1,NPA,Additional No,Gender,Principle Outstanding,Current Outstanding,Aging Buckets,Status,Product,State.1,LOT,Remarks,Upload Date,Allocation Start Date,Original Amount Pending,Allocation amount,Allocation ID,Allocation End Date,Allocation Name
0,hariom Garain store_NIKHIL SAPALE,9326086584,14998.0,14998.0,2023-06-07,BNP1000096551,NaN,2023-05-31,NaN,TELANGANA,BNP1000096551,14998,14998.0,0.0,NaN,NaN,NaN,NaN,14998.0,17943.34,>270 Days,PENDING,BNPL,TELANGANA,LOT3,NaN,2024-03-07,2024-03-07,14998.0,14998.0,MARCH2024,2024-03-31,FlexiLoans BNPL
1,AK cosmetic centre_Salman,9355577221,14992.0,14992.0,2023-08-11,BNP1000106497,NaN,2023-08-04,NaN,HARYANA,BNP1000106497,14992,14992.0,0.0,NaN,NaN,NaN,NaN,14992.0,14992.00,181-240 Days,PENDING,BNPL,HARYANA,LOT3,NaN,2024-03-07,2024-03-07,14992.0,14992.0,MARCH2024,2024-03-31,FlexiLoans BNPL
2,Rahish_Rahish,9671368366,14950.0,14950.0,2023-06-10,BNP1000097178,NaN,2023-06-03,NaN,HARYANA,BNP1000097178,14950,14950.0,0.0,NaN,NaN,NaN,NaN,14950.0,17854.11,>270 Days,PENDING,BNPL,HARYANA,LOT3,NaN,2024-03-07,2024-03-07,14950.0,14950.0,MARCH2024,2024-03-31,FlexiLoans BNPL
3,Kallu General Store_Aftab khan,6391935143,14930.0,14930.0,2023-03-04,BNP1000080813,NaN,2023-02-25,NaN,UTTAR PRADESH,BNP1000080813,14930,14930.0,0.0,NaN,NaN,NaN,NaN,14930.0,18910.85,>270 Days,PENDING,BNPL,UTTAR PRADESH,LOT3,NaN,2024-03-07,2024-03-07,14930.0,14930.0,MARCH2024,2024-03-31,FlexiLoans BNPL
4,ASS fancy store_Chethan Gowd....,9845533711,14073.0,14073.0,2023-11-03,BNP1000118225,NaN,2023-10-27,NaN,KARNATAKA,BNP1000118225,14073,14073.0,0.0,NaN,NaN,NaN,NaN,14073.0,14073.00,121-150 Days,PENDING,BNPL,KARNATAKA,LOT3,NaN,2024-03-07,2024-03-07,14073.0,14073.0,MARCH2024,2024-03-31,FlexiLoans BNPL

In [11]:
new_alloc['Disburse Date'] = new_alloc['Dis Date ']

In [47]:
len(new_alloc)
new_alloc['Principle Outstanding'].sum()

13067124.63

In [49]:
new_alloc['City'] = new_alloc['State']

In [21]:
new_alloc['Original Amount Pending'] = new_alloc['Amount Pending']

In [33]:
new_alloc.head()

,LoanAccountNo.,LoanExternalId,Name,PhoneNo,Alternate No,Bus Add,City,State,Loan Amount,Disbursement Date,Expected Matured On,Actual EMI Amount,Penalties Outstanding,LOT1,Remarks,Settlement amt,Waiver,TO Remarks,Agecny,Product,Allocation Name,Upload Date,Allocation Start Date
0,VCFL000099005,DEF-HABAS-000-JUN23-00016,212 BAKEHOUSE_RITIKA BAWEJA,9958377763,0,"8 GROUND FLOOR, GURUGRAM SECTOR 33, GURUGRAM, ...",Air Force,Haryana,500000.0,2023-06-26,2025-07-01,29084.0,1365.80,LOT1,Emi cleared charges outstnading,-,NaN,NaN,DPD Zero,PO,FlexiLoans PO,2024-03-07,2024-03-07
1,VCFL000100958,DEF-MAPUN-000-JUN23-00178,22 YARD CRICKET ACADAMY_KIRAN RAMESH UBALE,9822604262,0,"SURVEY NO.52/C, TANAJI DAGDE PATIL NAGAR, OPPO...",Pune,Maharashtra,365000.0,2023-07-06,2025-02-01,25753.0,1348.87,LOT1,Emi cleared charges outstnading,-,NaN,NaN,DPD Zero,PO,FlexiLoans PO,2024-03-07,2024-03-07
2,VCFL000099936,CEF-MAMAN-000-JUN23-00043,ABLAZE SOLUTIONS_LAVIN SAJAN SAM,9967689210,0,"D-402,, CROSS ROAD NO.4, I C COLONY, BORIVALI ...",Mandapeshwar,Maharashtra,170000.0,2023-06-30,2024-07-01,17227.0,750.00,LOT1,Emi cleared charges outstnading,-,NaN,NaN,DPD Zero,PO,FlexiLoans PO,2024-03-07,2024-03-07
3,VCFL000113844,PEF-HABHA-000-SEP23-00002,ABSOLUTE HEALTHCARE_Mukesh kumar jangir,8503075010,0,"0, WARD NO. 6, BHIM BASTI SOHNA ROAD DHARUHERA...",Bhatsana,Haryana,930000.0,2023-09-27,2026-10-01,35134.0,750.00,LOT1,Emi cleared charges outstnading,-,NaN,NaN,DPD Zero,PO,FlexiLoans PO,2024-03-07,2024-03-07
4,VPOS000047518,PEF-MADR.-000-DEC21-00002,ADI EXPORTS_FAISAL ASIF KHAN,8888667867,9167343778,"1146, SAIFEE LANE, NEAR HONDA SHOW ROOM, CAMP ...",Pune,Maharashtra,50000.0,2021-12-29,2023-01-01,5067.0,11110.70,LOT1,Only charges Ost -Pos Zero,-,NaN,NaN,DPD Zero,PM,FlexiLoans PM,2024-03-07,2024-03-07

In [34]:
new_alloc[new_alloc['Mobile'].isnull()]

KeyError: 'Mobile'

In [41]:
new_alloc[['Loan Number',# 'Loan External ID', 
       'Name', 'Mobile', 'Additional No', #'Address', 'City', 
       'State', 'Loan Amount', 'Disburse Date', 'Maturity Date', #'EMI', 
       'Principle Outstanding', 'Amount Pending',
       'Original Amount Pending', 'Due Date', 'Product', 'Status', 'Allocation ID', 'Upload Date',
       'Allocation amount', 'Allocation Start Date', 'Allocation End Date', 'Minimum Amount Pending', 'Allocation Name']]#.to_csv('normal new allocation 4march.csv', index=False)

KeyError: "['Name'] not in index"

In [43]:
new_alloc[['Loan Number', 'Due Date', 'Allocation Start Date', 'Allocation Name']].to_csv('flexi alloc name fix.csv', index=False)

In [24]:
new_alloc['Allocation ID'] = 'JANUARY2024'
new_alloc['Upload Date'] = '2024-01-26'

In [36]:
new_alloc.head()

,Loan Number,Loan External ID,Name,Mobile,Additional No,Address,City,State,Loan Amount,Disburse Date,Maturity Date,EMI,Principle Outstanding,LOT1,Remarks,Settlement amt,Waiver,TO Remarks,Agecny,Product,Allocation Name,Upload Date,Allocation Start Date
0,VCFL000099005,DEF-HABAS-000-JUN23-00016,212 BAKEHOUSE_RITIKA BAWEJA,9958377763,0,"8 GROUND FLOOR, GURUGRAM SECTOR 33, GURUGRAM, ...",Air Force,Haryana,500000.0,2023-06-26,2025-07-01,29084.0,1365.80,LOT1,Emi cleared charges outstnading,-,NaN,NaN,DPD Zero,PO,FlexiLoans PO,2024-03-07,2024-03-07
1,VCFL000100958,DEF-MAPUN-000-JUN23-00178,22 YARD CRICKET ACADAMY_KIRAN RAMESH UBALE,9822604262,0,"SURVEY NO.52/C, TANAJI DAGDE PATIL NAGAR, OPPO...",Pune,Maharashtra,365000.0,2023-07-06,2025-02-01,25753.0,1348.87,LOT1,Emi cleared charges outstnading,-,NaN,NaN,DPD Zero,PO,FlexiLoans PO,2024-03-07,2024-03-07
2,VCFL000099936,CEF-MAMAN-000-JUN23-00043,ABLAZE SOLUTIONS_LAVIN SAJAN SAM,9967689210,0,"D-402,, CROSS ROAD NO.4, I C COLONY, BORIVALI ...",Mandapeshwar,Maharashtra,170000.0,2023-06-30,2024-07-01,17227.0,750.00,LOT1,Emi cleared charges outstnading,-,NaN,NaN,DPD Zero,PO,FlexiLoans PO,2024-03-07,2024-03-07
3,VCFL000113844,PEF-HABHA-000-SEP23-00002,ABSOLUTE HEALTHCARE_Mukesh kumar jangir,8503075010,0,"0, WARD NO. 6, BHIM BASTI SOHNA ROAD DHARUHERA...",Bhatsana,Haryana,930000.0,2023-09-27,2026-10-01,35134.0,750.00,LOT1,Emi cleared charges outstnading,-,NaN,NaN,DPD Zero,PO,FlexiLoans PO,2024-03-07,2024-03-07
4,VPOS000047518,PEF-MADR.-000-DEC21-00002,ADI EXPORTS_FAISAL ASIF KHAN,8888667867,9167343778,"1146, SAIFEE LANE, NEAR HONDA SHOW ROOM, CAMP ...",Pune,Maharashtra,50000.0,2021-12-29,2023-01-01,5067.0,11110.70,LOT1,Only charges Ost -Pos Zero,-,NaN,NaN,DPD Zero,PM,FlexiLoans PM,2024-03-07,2024-03-07

In [37]:
print(len(new_alloc))
df = new_alloc.groupby(['Product']).agg({'Maturity Date':'max', 'Amount Pending':'sum', 'Loan Number':'count'})
df['avg ticket size'] = df['Amount Pending']/df['Loan Number']
df

1341

KeyError: "Column(s) ['Amount Pending'] do not exist"

In [38]:
new_alloc['Amount Pending'] = new_alloc['Principle Outstanding']
new_alloc['Original Amount Pending'] = new_alloc['Amount Pending']

new_alloc['Due Date'] = new_alloc['Maturity Date']
#new_alloc['Product'] = 'PM'
new_alloc['Status'] = 'PENDING'

In [39]:
new_alloc['Status'] = 'PENDING'
new_alloc.head()

,Loan Number,Loan External ID,Name,Mobile,Additional No,Address,City,State,Loan Amount,Disburse Date,Maturity Date,EMI,Principle Outstanding,LOT1,Remarks,Settlement amt,Waiver,TO Remarks,Agecny,Product,Allocation Name,Upload Date,Allocation Start Date,Amount Pending,Original Amount Pending,Due Date,Status
0,VCFL000099005,DEF-HABAS-000-JUN23-00016,212 BAKEHOUSE_RITIKA BAWEJA,9958377763,0,"8 GROUND FLOOR, GURUGRAM SECTOR 33, GURUGRAM, ...",Air Force,Haryana,500000.0,2023-06-26,2025-07-01,29084.0,1365.80,LOT1,Emi cleared charges outstnading,-,NaN,NaN,DPD Zero,PO,FlexiLoans PO,2024-03-07,2024-03-07,1365.80,1365.80,2025-07-01,PENDING
1,VCFL000100958,DEF-MAPUN-000-JUN23-00178,22 YARD CRICKET ACADAMY_KIRAN RAMESH UBALE,9822604262,0,"SURVEY NO.52/C, TANAJI DAGDE PATIL NAGAR, OPPO...",Pune,Maharashtra,365000.0,2023-07-06,2025-02-01,25753.0,1348.87,LOT1,Emi cleared charges outstnading,-,NaN,NaN,DPD Zero,PO,FlexiLoans PO,2024-03-07,2024-03-07,1348.87,1348.87,2025-02-01,PENDING
2,VCFL000099936,CEF-MAMAN-000-JUN23-00043,ABLAZE SOLUTIONS_LAVIN SAJAN SAM,9967689210,0,"D-402,, CROSS ROAD NO.4, I C COLONY, BORIVALI ...",Mandapeshwar,Maharashtra,170000.0,2023-06-30,2024-07-01,17227.0,750.00,LOT1,Emi cleared charges outstnading,-,NaN,NaN,DPD Zero,PO,FlexiLoans PO,2024-03-07,2024-03-07,750.00,750.00,2024-07-01,PENDING
3,VCFL000113844,PEF-HABHA-000-SEP23-00002,ABSOLUTE HEALTHCARE_Mukesh kumar jangir,8503075010,0,"0, WARD NO. 6, BHIM BASTI SOHNA ROAD DHARUHERA...",Bhatsana,Haryana,930000.0,2023-09-27,2026-10-01,35134.0,750.00,LOT1,Emi cleared charges outstnading,-,NaN,NaN,DPD Zero,PO,FlexiLoans PO,2024-03-07,2024-03-07,750.00,750.00,2026-10-01,PENDING
4,VPOS000047518,PEF-MADR.-000-DEC21-00002,ADI EXPORTS_FAISAL ASIF KHAN,8888667867,9167343778,"1146, SAIFEE LANE, NEAR HONDA SHOW ROOM, CAMP ...",Pune,Maharashtra,50000.0,2021-12-29,2023-01-01,5067.0,11110.70,LOT1,Only charges Ost -Pos Zero,-,NaN,NaN,DPD Zero,PM,FlexiLoans PM,2024-03-07,2024-03-07,11110.70,11110.70,2023-01-01,PENDING

In [40]:
new_alloc['State'].value_counts()

State
Maharashtra         288
Uttar Pradesh       164
Karnataka           138
Tamil Nadu           99
Gujarat              92
West Bengal          77
Telangana            72
Delhi                68
Rajasthan            60
Haryana              50
Andhra Pradesh       45
Madhya Pradesh       44
Bihar                42
Punjab               31
Odisha               21
NA                   14
Jharkhand            11
Chattisgarh           9
Uttarakhand           7
Himachal Pradesh      3
Goa                   3
Kerala                2
Pondicherry           1
Name: count, dtype: int64

In [41]:
new_alloc['Allocation amount'] = new_alloc['Original Amount Pending']
new_alloc['Allocation Start Date'] = new_alloc['Upload Date']

In [40]:
new_alloc[['Loan Number', 'Due Date', 'Upload Date']].to_csv('flexi data fix.csv', index=False)

In [73]:
new_alloc['Maturity Date'].value_counts()

Maturity Date
2024-06-16    13
2024-07-01    12
2026-01-16    10
2024-04-01     9
2024-04-16     9
              ..
2024-11-01     1
2024-02-10     1
2024-02-05     1
2026-12-01     1
2023-11-16     1
Name: count, Length: 81, dtype: int64

In [52]:
new_alloc['Product'].value_counts()

Product
PO    501
PM     18
Name: count, dtype: int64

In [74]:
new_alloc[['Loan Number', 'Name', 'Mobile', 'Additional No', 'State','Loan Amount', 'Disburse Date',
       'Maturity Date', 'Principle Outstanding',
       'Amount Pending', 'Original Amount Pending', 'Upload Date',
       'Allocation ID', 'Due Date', 'Product', 'Status']].to_csv('flexiloans new allocation cases BNPL & AL.csv', index=False)

In [74]:
new_alloc[new_alloc['Principle Outstanding'].isnull()]

Empty DataFrame
Columns: [Loan Number, Loan External ID, Name, Mobile, Additional No, Address, City, State, Loan Amount, Disburse Date, Maturity Date, EMI, Principle Outstanding, LOT1, Remarks, Settlement amt, Waiver, TO Remarks, Agecny, Product, Status, Amount Pending, Original Amount Pending, Due Date, Allocation amount]
Index: []

In [22]:
new_alloc.to_csv('PO allocation 11Sept.csv', index=False)

In [75]:
len(new_alloc)

316

In [6]:
new_alloc.columns

Index(['Loan Account No.', 'LoanExternalId', 'Name ', 'Phone No',
       'Alternate No', 'Email', 'Bus Add', 'City', 'State', 'Loan Amount',
       'Disbursement Date', 'Expected Matured On', 'Actual EMI Amount',
       'Penalties Outstanding', 'POS ', 'Current Outs', 'LOT1', 'Remarks',
       'Settlement amt', 'Waiver', 'Lot', 'TO Remarks'],
      dtype='object')

In [45]:
new_alloc['Amount Pending'].sum()

5932153.9